{% extends 'includes/base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<a href="/account" class="btn btn-success pull-right">Back</a>
			<h3>Add a new post</h3>
			<div class="well">
				<form action="/add" method="post">
					{% csrf_token %}
					<div class="form-group">
						<label class="control-label">{{form.title.label}}</label>
						<input id="id_title" maxlength="250" name="title" type="text" required="" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label">{{form.content.label}}</label>
						<textarea cols="40" id="id_content" name="content" rows="10" required="" class="form-control"></textarea>
					</div>
					<div class="form-group">
						<input name="author" type="hidden" required="" value="{{author}}">
					</div>
					<div class="form-group">
						{{form.published}} Check to publish. Leave unchecked to save as draft
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Add post</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-sm-12 col-md-4">
		</div>
	</div>
</div>

{% endblock %}