<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Webpicnic</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
						<li><a href="/account">Account</a></li>
						<li><a href="/logout">Logout</a></li>
					{% else %}
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
					{% endif %}
				</ul>
				<form class="navbar-form navbar-right" role="search" action="/search" method="get">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Type something here" name="s">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
	    </div>
	</div>
</nav><br><br><br><br>